.preview-image {
    max-width: 20%;
    max-height: 70%;
    display: block;
    margin: 0 auto;
    transition: filter 0.3s, opacity 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: dot-blink 1.4s infinite both;
}

.dropzone {
    background-color: #f1f5f9;
}

@keyframes dot-blink {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}