.footerBorder {
    border-bottom: 2px solid #ffffff;
}

.footerColor {
    background-color: #0f1f39;
}

.footerLinks {
    transition-duration: 0.6s;
}

.footerLinks:hover {
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.6s;
    font-size: 15px;
    color: #5b21b6;
}

.socialLinks a {
    margin-right: 10px;
}

.footerLogo {
    padding-top: 42px;
}

@media (min-width:350px) and (max-width:750px) {
    .footerLogo {
        display: block !important;
        width: 100% !important;
    }

    /* 
    .footerPara {
        width: 270px;
        margin-left: -205px;
    } */

    .socialLinks {
        margin-top: 39px !important;
        margin-left: 50px;
    }

    .usefulLinks {
        margin-left: 54px !important;
        width: 270px;
    }

    .solutionLinks {
        margin-left: 54px !important;
        width: 270px;
    }

    .copyrightInfo {
        margin-left: 54px !important;
        width: 280px !important;
    }

    .Xrfooterlogo {
        width: 252px !important;
        margin-left: 60px;
    }

    .footerSection {
        width: 100px !important;
    }

    .footerBorder {
        border-bottom: 2px solid #ffffff;
        margin-left: 10px !important;
        width: 357px;
    }
}

@media (min-width:765px) and (max-width:1036px) {

    .Xrfooterlogo {
        width: 252px !important;
        margin-left: 16px;
    }
    .usefulLinks {
        width: 252px !important;
        /* margin-left: 60px; */
    }


}