.features-slider-section {
    background-color: #f9f9fc;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 500px !important;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-number {
    font-size: 3rem;
    font-weight: bold;
    color: #ff5a1f;
}

.feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.feature-description {
    flex-grow: 1;
    color: #333;
    margin-bottom: 20px;
}

.feature-icon {
    margin-top: auto;
    text-align: center;
}


.slick-dots li button:before {
    font-size: 12px !important;
    color: #5b21b6 !important;
}

.slick-dots li.slick-active button:before {
    color: #5b21b6 !important;
}

.slick-slide {
    padding: 0 10px;
}

.slick-prev:before {
    color: #5b21b6 !important;
    font-size: 35px !important;
}

.slick-next:before {
    color: #5b21b6 !important;
    font-size: 35px !important;
}

@media (min-width:350px) and (max-width:750px) {
    .rightArrowSlider {
        display: none !important;
    }

    .slick-next {
        display: none !important;
    }

}